---
const {
  link,
  text,
  tamaño,
  seleccionar,
  descargar,
  ventana,
  tipo = "text/html",
  color = " bg-blue-500 hover:bg-blue-600 text-white",
} = Astro.props;
---

<a
  type={tipo}
  target={ventana}
  download={descargar}
  href={link}
  class={` ${tamaño} ${seleccionar} h-full w-auto py-1  px-4 poppins hover:-translate-y-1 active:scale-95 ${color} cursor-pointer  rounded-2xl`}
>
  {text}
</a>
