---
import Boton from "./Boton.astro";
import nice from "../assets/nice.png";
import { perfilPedro } from "../utils/perfil";
---

<section
  class="font-mono w-[320px] md:w-[768px] md:justify-around flex items-center [@media(max-width:768px)]:flex-col-reverse"
>
  <div class="w-full max-w-[460px] min-w-[320px]">
    <div class="flex flex-col justify-center items-center">
      <h2
        class="kaus 2xl:text-black bg-gradient-to-r bg-clip-text text-transparent from-morado via-neonBlue to-turquesa text-[2.5rem] md:text-[3.5rem] px-1 h-14 md:h-19"
      >
        {`${perfilPedro.nombre.primerNombre} ${perfilPedro.nombre.apellidoPaterno}`}
      </h2>
      <h3 class="kaus text-[1.6rem] md:text-[1.8rem] mb-2">
        {perfilPedro.profesion}
      </h3>
    </div>

    <section class="flex justify-center gap-4">
      <Boton
        descargar="PedroAlejandro_CV.pdf"
        tamaño="text-lg"
        link="#contacto"
        ventana="_blank"
        tipo="application/pdf"
        seleccionar=" bg-gradient-to-r from-dorado to-rojo "
        text="Download CV"
      />
      <Boton tamaño="text-lg" link="#contacto" text="Contactame" />
    </section>
  </div>
  <img
    src={nice.src}
    alt={perfilPedro.nombreCompleto()}
    title={perfilPedro.nombreCompleto()}
    class="rounded-full w-60 lg:w-75 h-full"
  />
</section>
