---
import CardLinea from "./cardLinea.astro";

const time = [
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "C++ Fundamentos de Programación ",
    descripcion:
      "Exploración de conceptos clave en C++, incluyendo estructuras de control, variables y funciones esenciales.",
    fecha: "Octubre 2024",
    alignClass: "text-left",
    layoutClass: "justify-end",
    color: "top-0",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "Programación Orientada a Objetos",
    descripcion:
      "Implementación de clases y objetos en C++. Aplicación de principios de encapsulación, herencia y polimorfismo.",
    fecha: "Diciembre 2024",
    alignClass: "text-right",
    layoutClass: "justify-between",
    color: "top-52",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "JavaScript Fundamentos y Tailwind CSS",
    descripcion:
      "Introducción a JavaScript, manipulando el DOM y aplicando estilos modernos con Tailwind CSS para interfaces dinámicas.",
    fecha: "Febrero 2025",
    alignClass: "text-left",
    layoutClass: "justify-end",
    color: "top-95",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "JavaScript Estructura de Datos",
    descripcion:
      "Optimización de algoritmos mediante estructuras como listas enlazadas, árboles y mapas en JavaScript.",
    fecha: "Marzo 2025",
    alignClass: "text-right",
    layoutClass: "",
    color: "top-142",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "Astro y Express",
    descripcion:
      "Desarrollo de aplicaciones web modernas con Astro para frontend y Express.js para backend, mejorando rendimiento y escalabilidad.",
    fecha: "Abril 2025",
    alignClass: "text-left",
    layoutClass: "justify-end",
    color: "top-185",
  },
];

---

<section
  
  class="w-full flex flex-col items-center mx-auto  relative"
>
  <div
    class="absolute w-1 h-full bg-gradient-to-t from-neonBlue via-neonCyan to-mutedBlue"
  >

  </div>
  <div class="sticky top-50 bg-turquesa rounded-full text-white  ">

    <i class="fas fa-graduation-cap text-white text-2xl md:text-3xl py-2 md:py-[10.1px] px-1.5 md:px-2"></i>

</div>

  {
    time.map((time) => (
      <CardLinea
        titulo={time.titulo}
        subtitulo={time.subtitulo}
        descripcion={time.descripcion}
        fecha={time.fecha}
        clas={time.alignClass}
        class2={time.layoutClass}
      />
      <div class="sticky top-50  bg-turquesa rounded-full text-white   ">
                    <i class="fas fa-graduation-cap text-white text-2xl md:text-3xl py-2 md:py-[10.1px] px-1.5 md:px-2"></i>
      </div>
    ))
  }
</section>
