---
import CardLinea from "./cardLinea.astro";

const time = [
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "Fundamentos de Programación en C++",
    descripcion:
      "Exploración de conceptos clave en C++, incluyendo estructuras de control, variables y funciones esenciales.",
    fecha: "Octubre 2024",
    alignClass: "text-left",
    layoutClass: "justify-end",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "Programación Orientada a Objetos",
    descripcion:
      "Implementación de clases y objetos en C++. Aplicación de principios de encapsulación, herencia y polimorfismo.",
    fecha: "Diciembre 2024",
    alignClass: "text-right",
    layoutClass: "justify-between",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "JavaScript Fundamentos y Tailwind CSS",
    descripcion:
      "Introducción a JavaScript, manipulando el DOM y aplicando estilos modernos con Tailwind CSS para interfaces dinámicas.",
    fecha: "Febrero 2025",
    alignClass: "text-left",
    layoutClass: "justify-end",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "JavaScript Estructura de Datos",
    descripcion:
      "Optimización de algoritmos mediante estructuras como listas enlazadas, árboles y mapas en JavaScript.",
    fecha: "Marzo 2025",
    alignClass: "text-right",
    layoutClass: "justify-between",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "Astro y Express",
    descripcion:
      "Desarrollo de aplicaciones web modernas con Astro para frontend y Express.js para backend, mejorando rendimiento y escalabilidad.",
    fecha: "Abril 2025",
    alignClass: "text-left",
    layoutClass: "justify-end",
  },
];

// Mostrar eventos
---

<section
  class="w-full flex flex-col items-center mx-auto border space-y-2 relative"
>
  <div
    class="absolute right-1/2 w-1 h-full bg-gradient-to-t from-neonBlue via-neonCyan to-mutedBlue"
  >
  </div>
  <div
    class="relative w-10 h-10 top-0 right-3 left-0 bg-mutedBlue rounded-full"
  >
  </div>
  {
    time.map((time) => (
      <CardLinea
        titulo={time.titulo}
        subtitulo={time.subtitulo}
        descripcion={time.descripcion}
        fecha={time.fecha}
        clas={time.alignClass}
        class2={time.layoutClass}
      />
    ))
  }
</section>
