---
import CardLinea from "./cardLinea.astro";

const time = [
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "Fundamentos de Programación en C++",
    descripcion:
      "Exploración de conceptos clave en C++, incluyendo estructuras de control, variables y funciones esenciales.",
    fecha: "Octubre 2024",
    alignClass: "text-left",
    layoutClass: "justify-end",
    color: "top-0",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "Programación Orientada a Objetos",
    descripcion:
      "Implementación de clases y objetos en C++. Aplicación de principios de encapsulación, herencia y polimorfismo.",
    fecha: "Diciembre 2024",
    alignClass: "text-right",
    layoutClass: "justify-between",
    color: "top-52",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "JavaScript Fundamentos y Tailwind CSS",
    descripcion:
      "Introducción a JavaScript, manipulando el DOM y aplicando estilos modernos con Tailwind CSS para interfaces dinámicas.",
    fecha: "Febrero 2025",
    alignClass: "text-left",
    layoutClass: "justify-end",
    color: "top-95",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "JavaScript Estructura de Datos",
    descripcion:
      "Optimización de algoritmos mediante estructuras como listas enlazadas, árboles y mapas en JavaScript.",
    fecha: "Marzo 2025",
    alignClass: "text-right",
    layoutClass: "",
    color: "top-142",
  },
  {
    titulo: "Bootcamp Nómada",
    subtitulo: "Astro y Express",
    descripcion:
      "Desarrollo de aplicaciones web modernas con Astro para frontend y Express.js para backend, mejorando rendimiento y escalabilidad.",
    fecha: "Abril 2025",
    alignClass: "text-left",
    layoutClass: "justify-end",
    color: "top-185",
  },
];

// Mostrar eventos
---

<section
  
  class="w-full flex flex-col items-center mx-auto  relative"
>
  <div
    class="absolute mx-auto w-1 h-full bg-gradient-to-t from-neonBlue via-neonCyan to-mutedBlue"
  >

  </div>
  <div class="sticky top-20 bg-turquesa rounded-full">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="w-10 h-10 text-dorado"
    >
      <>
        <path d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526" />
        <circle cx="12" cy="8" r="6" />
      </>
    </svg>
  </div>

  {
    time.map((time) => (
      <CardLinea
        titulo={time.titulo}
        subtitulo={time.subtitulo}
        descripcion={time.descripcion}
        fecha={time.fecha}
        clas={time.alignClass}
        class2={time.layoutClass}
      />
      <div class="sticky top-20 bg-turquesa rounded-full">
        <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-10 h-10 text-dorado "
        >
        <>
        <path d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526" />
        <circle cx="12" cy="8" r="6" />
        </>
        </svg>
      </div>
    ))
  }
</section>
